@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "light";

  --color-primary: #d62828;
  --color-secondary: #bf5b1f;
  --color-warning: #ef9120;
  --color-info: #3abff8;
}

.active {
  background-color: #d6282810;
  color: #d62828;
  font-weight: bold;
}
